/* styles/fonts.css */
:root {
  --font-modam: "Modam", sans-serif;
  --font-museo: "MuseoModerno", sans-serif;
}

@font-face {
  font-family: "Modam";
  src: url("/fonts/Modam-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Modam";
  src: url("/fonts/Modam-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Modam";
  src: url("/fonts/Modam-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Modam";
  src: url("/fonts/Modam-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Modam";
  src: url("/fonts/Modam-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Modam";
  src: url("/fonts/Modam-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Modam";
  src: url("/fonts/Modam-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Modam";
  src: url("/fonts/Modam-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
