@import "tailwindcss";



body {
  background-color: #000000;
}


.share-tech-regular {
  font-family: "Share Tech", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.text-color {
  @apply text-[#0077B5];
}

.bg-color {
  @apply bg-[#4052D6];
}

