@import "tailwindcss";

body {
  background-color: #0c3649;
}

.share-tech-regular {
  font-family: "Share Tech", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.text-color {
  @apply text-[#00c9d3];
}

.bg-color {
  @apply bg-[#0c3649];
}
