name: Deploy to VPS

on:
  push:
    branches: [mainn]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create .env file
        run: |
          echo "API_URL=${{ secrets.API_URL }}" > .env
          echo "NODE_ENV=production" >> .env

      - name: Build Docker image
        run: |
         docker build -t pro .

      - name: Deploy to VPS
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          port: ${{ secrets.SSH_PORT }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            mkdir -p /var/pro/pro_cli
            cd /var/pro/pro_cli
            git clone https://github.com/${{ github.repository }} . || git pull
            docker compose down
            docker compose up -d --build
